body{
    background: #3e3b4a;
}


main{
    font-family: 'Open Sans', sans-serif;
    max-width: 1021px;
    margin: 25px auto;
    height: 1800px;
    margin-top: 70px;
    
    
}


.header-menu-image{
    float: left;
    margin-right:10px;
}

.header-menu a{
    color:#898691;
    font-size: 12px;
    padding:2px;
    text-decoration: none;
}

.header-dmt{  
    text-align: center;
    padding: 25px;

    
   
}

.dmt{
     font-size: 48px;
     margin-top: -50px;
     color: #ffffff;
     margin-bottom: -20px;
     margin-right:20px;
    
    
    
 }

 .meaning-dmt{
     color:#898691 ;
     font-size: 13px;
}

.header-search{
    float:right;
    margin-top:-80px;
    display: block;
    margin-right:25px;
    font-size: 12px;
    color: #898691;
}

.image-search{
    margin-top: -85px;
    float:right;
    

}

.home-page{
    height: 500px;
    background: url(img/VectorSmartObject.png) no-repeat top center;
   padding: 23px;
   
}

.home-text{  color: #ffc7b0;
    font-size: 14px;
    margin-top:41px;
    margin-right:48px;
}

.accessories-text,
.cameras2{
    color: #ffc7b0;
    font-size: 14px;
    margin-top:41px;
    margin-left:41px;
}

.buster{
    color: #ffffff;
    font-size: 72px;
    margin-top:31px;
    margin-bottom: auto;
    margin-right: 41px
}

.menu-info{
    color: white;
    font-size: 36pt;
    margin-top:2px;
    margin-right: 41px
}


.read-more1 a{
    border: 2px solid #ffe18f;
    float:left;
    text-align: right;
    padding: 5px;
    color: #ffffff;
    text-decoration: none;
    margin-left:-30px;
    font-size: 20px;

}


.read-more a{
    border: 2px solid #ffe18f;
    float: left;
    text-align: center;
    padding:15px;
    color: #ffffff;
    margin-top:110px;
    text-decoration: none;
    font-size: 20px;
}

.accessories{
    background: url(img/VectorSmartObject2.png) no-repeat top center;
    height: 481px;
    float: left;
    width: 624px;
   
}

.accessories-info,
.ameras2-text
,.cameras2-info{
    font-size:24px ;
    color: white;
    margin-left: 41px;
    margin-top:-60px;
}

.Peak,
.cameras2-text{
     font-size:48px;
     color: white;
     margin-top: 30px;
     margin-left:38px;
     

}

h5{
    margin-left: 41px;
    
}


.subscribe-page{
    float: right;
    background: url(img/Shape3.png) no-repeat top center;
    width: 380px;
    height:481px;
   
}

.good-things{
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    text-align: center;
    color: white;
    margin-top:80px;
}

.subscribe-info{
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    margin-top:37px;
}

.your-email-bottom{
    border: 2px solid #fff;
    margin-top: 100px;
     text-align: center;
     padding: 5px;
     color: #ffffff;
     margin-top:42px;
     text-decoration: none;
     margin-left:54px;
     margin-right:54px;
} 


.subscirbe-bottom{
    background:#66689c;
    color: white;
    font-weight: 700;
    padding:15px;
    margin-left:54px;
    margin-right:54px;
    text-align: center;
    font-size: 20px;
}


.cameras-page{
    background: url(img/VectorSmartObject10.png)no-repeat top center;
    float: left;
    height:421;
    width: 258px;
    margin-top: 22px;
   
}

.cameras-info,
.sound-info{
    color: #ffc7b0;
    font-size: 14px;
    margin-top:41px;
    font-weight: 700;
    text-align: center;
}

.leica{
    font-size:48px;
    color:#ffffff;
    margin-top:127px;
    text-align: center;
    margin-bottom: 0px;

}

.review-bottom{
     color: #3d3c4a;
     background: #ffe18e;
     font-weight: 700;
    padding:15px;
    margin-left:54px;
    margin-right:54px;
    text-align: center;
    font-size: 20px;
    margin-top:95px;

    
}


.sound-page{
    background: url(img/VectorSmartObject4.png)no-repeat top center;
    float: left;
    height:421px;
    width: 258px;
    margin-top: 22px;
    margin-left: 23px;
   

}

.Trobla{
    font-size:48px;
    color:#ffffff;
    margin-top:121px;
    text-align: center;

}

.review-bottom2{
    color: #3d3c4a;
    background: #ffe18e;
    font-weight: 700;
   padding:15px;
   margin-left:54px;
   margin-right:54px;
   text-align: center;
   font-size: 20px;
   margin-top:-20px;
}

.cameras2-page{
    background: url(img/camera.png) no-repeat top center;
    float:left;
    height:420px;
    width: 460px;
    margin-top: 22px;
    margin-left: 22px;
}



.footer-copyright,
.footer-facebook-logo,
.footer-twitter-logo{
    float: left;
   
}

.footer-copyright{
    color: #898691;
    margin-left:240px;
    margin-top:-120px;
}

.footer-facebook-logo{
    margin-left:1160px;
    margin-top:-120px;
}


.footer-twitter-logo{
    margin-left:1230px;
    margin-top:-120px;
}





