.list{
    list-style-type: none;
    list-style-position: inside;
   }
.list-item{
    list-style-type: square;
}

.list .list-item{
    list-style-type: upper-roman;
}

.list-item2{
    list-style-image: linear-gradient(red 0, red 50%, blue 50%)
}

/* 
list-style-type. leaner gradient give the colors to the points or items listed. 


*/

.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: black;
    
}

.menu-item{
    float: left;
    padding: 10px 20px;
    
}

.menu-item a{
    text-decoration: none;
    color: white;
}

.clear{
    clear: both;
}